body{
    background:url(images/SignUp/b1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(67, 67, 67, 0.8),rgba(67, 67, 67, 0.8)),url(images/SignUp/b1.jpg);
}
#loginbox{
    position: absolute;
    background-color:rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    height: auto;
    width: 600px;
    top: 50px;
    right: 60%;
    border: 5px solid rgba(0, 0, 0, 5);
    right: 25%;
    border-radius: 20px;
}
#loginbox button{
    width: 50%;
    height: 10%;
}      
#loginbox a{
    text-decoration: none;
    color: black;
} 
#loginbox a:hover{
    text-decoration: underline;
}
#icons{
    color: rgb(8, 8, 8);
    font-size: 20px;
}
 #ic:hover{
    cursor: pointer;
    color: white;
}

.modal-footer{
    width: 40%;
}

